/* Don't change/ done by Julie */ 
// mixin for grid
@mixin grid-layout($columns, $rows: auto, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: $rows;
  gap: $gap;
}

//mixin for flex
@mixin flex-layout($direction: row, $wrap: nowrap, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}
#main {
  margin-top: 20px;
}

#main {
  margin-top: 20px;
}

#about {
  @include grid-layout(2);
//Smaller screen
  @media (max-width: 768px) { 
    @include grid-layout(1); 
    
  }

  .container {
    @include flex-layout(column, nowrap, space-around, center);
    border-radius: 15px;
    padding: 30px;
    margin: 20px 10px 20px 20px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    box-shadow: 10px 10px 10px 0px var(--color-primary-alt);
    

    h2 {
      font-size: 60px;
      align-content: center;
    }

    p {
      justify-content: center;
      align-content: center;
      margin: 0;

      a {
        text-decoration: none;
      }
    }

    blockquote {
      border: 2px solid var(--color-primary-alt);
      border-left: 5px solid var(--color-primary-alt); 
      padding: 20px;
      margin: 20px; 
      background-color: var(--color-primary-alt); 
      border-radius: 15px;
      box-shadow: 5px 5px 5px var(--color-primary);

        p {
          color: var(--color-light);
          filter: brightness(100%);
          padding: 10px;
          text-align: center;

          a{
            background-color: var(--color-secondary);
            padding: 5px 10px;
            margin: 0 5px;
            border-radius: 5px;
            white-space: nowrap;
            overflow-wrap: normal;
            display: inline-block;

            &:hover {
              color: var(--color-secondary);
              background-color: var(--color-primary);
            }
          }

        }
    }
  }


}


