/* Don't change/ Done by Julie */ 

#about .container:nth-child(2) {
  background: none;
  border: none;
  box-shadow: none;

  ul {
    @include flex-layout(row, wrap, space-around); //mixin from #about
    list-style: none;

    li {
      background-color: var(--color-background);
      padding: 10px;
      margin: 5px;
      border-radius: 8px;
      box-shadow: 5px 5px 5px 0px var(--color-primary-alt);
    }
  }

}

