// This section completed by Kim
// This is the Contribute Section
@mixin grid-layout($columns, $rows: auto, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: $rows;
  gap: $gap;
}

//mixin for flex
@mixin flex-layout($direction: row, $wrap: nowrap, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

#contribute {

  h2 {
    @include grid-layout(1, 1, 10px);
    background-color: var(--color-background);
    padding: 30px;
    border-radius: 10px;
    margin: 10px 20px 30px 20px;
    box-shadow: 5px 5px 5px var(--color-primary);
  }

  margin-top: 20px;
    //Smaller screen
    @media (max-width: 768px) { 
      @include grid-layout(1); 
    }


  // Target only the .container elements for the grid layout
   p {
    @include grid-layout(1, auto, 10px);
    border-radius: 15px;
    padding: 30px;
    margin: 20px 10px 20px 20px;
    justify-content: center;
    align-content: center;
    margin: 0;

    a {
      text-decoration: none;
    }

    // Single column on smaller screens
    @media (max-width: 768px) {
      @include grid-layout(1, auto, 10px);
    }
  }

  h3 {
    font-size: 2rem;
    background-color: var(--color-background);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px var(--color-primary);
    text-align: center;
    color: var(--color-primary);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  ol {
    padding-left: 20px;

    li {
      color: var(--color-primary);
      margin-bottom: 15px;
      padding: 10px 20px;
      background: rgba(var(--color-background), 0.8);
      border-radius: 10px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  a {
    background-color: var(--color-secondary);
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 5px;
    white-space: nowrap;
    overflow-wrap: normal;
    display: inline-block;
    box-shadow: 2.5px 2.5px 2.5px var(--color-primary-alt);
    color: var(--color-primary);
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-secondary);
      background-color: var(--color-primary);
      box-shadow: 3px 3px 3px var(--color-primary);
      transform: translate(-0.1em, -0.1em);
    }
  }
}