//Styling for the contribute section
// Don't change/ done by Julie 
#contribute {
  @include grid-layout(2);
  margin-top: 20px;
  color: var(--color-primary);

  .container {
    max-width: 100%;
    display: grid;
    margin: 0 20px;
    
    &:first-child {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

      h2 {
          background-color: var(--color-background);
          padding: 20px;
          border-radius: 10px;
          margin: 10px auto;
          box-shadow: 5px 5px 5px var(--color-primary); 
          width: 100%;
          grid-column: 1 / -1;
      }

      h3 {
        font-weight: bold;
        text-align: center;
        margin: 10px 0;
      
      }

      p {
          margin: 0 20px 90px;
          width: 45%;
          text-align: center;  
          font-size: clamp(1.2em, 1.5em, 1.8em);  
          
       

          &:nth-child(2) {
            font-weight: bold;
            font-size: clamp(1.8em, 2em, 2.2em);
            text-align: center;
            align-self: flex-end;
            padding: 40px;
            align-content: flex-start;
            margin-bottom: -10px;
            margin-top: 30px;  
        
          }

 
          a {
              background-color: var(--color-secondary);
              color: var(--color-primary);
              padding: 5px 15px;
              margin: 0 5px;
              border-radius: 5px;
              white-space: nowrap;
              overflow-wrap: normal;
              display: inline-block;
              box-shadow: 2.5px 2.5px 2.5px var(--color-primary-alt);
              white-space: nowrap;
              overflow-wrap: normal;
              display: inline-block;
          
  
                  &:hover {
                  color: var(--color-secondary);
                  background-color: var(--color-primary);
                  }
              }
          } 
      &:nth-child(2)  {
        padding: 30px;
        margin: 20px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-top: 140px;
        width: 90%;
        background-color: var(--color-primary-alt);
        border-radius: 15px;
        box-shadow: 10px 10px 10px var(--color-primary);
        color: var(--color-light);

        a {
          background-color: var(--color-secondary);
          padding: 8px;
          border-radius: 8px;
          box-shadow: 3px 3px 3px var(--color-primary);
          white-space: nowrap;
          overflow-wrap: normal;
          display: inline-block;

          &:hover {
            background-color: var(--color-primary);
            color: var(--color-light);
            
          }
        }
       
      }   
  }
  @media (max-width: $breakpoint-mobile) { 
    margin-top: 0;
    @include flex-layout(column);

    .container {
        margin-top: 0;
        @include flex-layout(column);

      p {
          width: 100%;
          margin-top: 10px;

          &:nth-child(2) {
            width: 100%;
            padding: 10px;
            align-self: center;
            margin-top: 10px;

          }
        }
     &:nth-child(2) {
      margin-top: -45px;
     }
 
     }
    

 } 
}

// Source Files CSS --footer .files
//styled by Kimberly
#files {
  display: flex;
  grid-column: 1 / -1;
  margin-bottom: 20px;
  justify-content: center;
  
  .container {
    @include flex-layout(row, wrap, space-between);
    max-width: 100%;
    margin: 10px;

    h3 {
      width: 100%;
      text-align: start;
      font-size: clamp(2em, 2.5em, 3em);
    }

    a {
    
      background-color: var(--color-primary);
      color: var(--color-light);
      padding: 25px 80px;
      border-radius: 10px;
      box-shadow: 8px 8px 8px var(--color-background);
      text-align: center;
      width: auto;
      font-size: clamp(1.2em, 1.5em, 1.8em);
      margin: 20px 0;
      transform: translate(0, 0);
      transition: 180ms all ease-in-out;

        &:hover {
        color: var(--color-primary);
        background-color: var(--color-secondary);
        box-shadow: 8px 8px 8px var(--color-primary);
        transform: translate(-0.20em, -0.20em);
      }
    }


  }
}



