/* Styling for the guidelines section */
/* Don't change/ done by Julie */ 
#guidelines {
    @include flex-layout(column, nowrap);
    text-align: center;
    margin-top: 20px;

    @media (max-width: 768px) { 
         margin-top: 0;
      }

    .container {

        h2 {
            background-color: var(--color-background);
            padding: 20px;
            border-radius: 10px;
            margin: 10px auto 30px;
            box-shadow: 5px 5px 5px var(--color-primary);
        }

        h3{
            display: none;
        }

        p {
            margin: 0px 60px 20px 60px;
            padding: 0 40px;
    
            a {
                background-color: var(--color-secondary);
                    padding: 5px 15px;
                    margin: 0 5px;
                    border-radius: 5px;
                    white-space: nowrap;
                    overflow-wrap: normal;
                    display: inline-block;
                    box-shadow: 2.5px 2.5px 2.5px var(--color-primary-alt);
            
    
                    &:hover {
                    color: var(--color-secondary);
                    background-color: var(--color-primary);
                    }
                }
            }

        p:nth-child(2) {
            font-weight: bold;
            font-size: clamp(1.2rem, 1.5rem, 1.8rem);
            margin-bottom: 40px;
        }        
    } 
}

.link-guidelines {
    display: inline-flex;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 20px 30px;
    margin: 20px 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px var(--color-primary);
    font-size: clamp(1em, 1.5em, 1.8em);
    transform: translate(0, 0);
    transition: 180ms all ease-in-out;

    &:hover,
    &:focus {
        background-color: var(--color-primary);
        color: var(--color-secondary);
        box-shadow: 5px 5px 5px var(--color-primary);
        transform: translate(-0.20em, -0.20em);
    }
}