/* Error: expected "{".
 *    ,
 * 67 | >>>>>>> b6c75524a39cddbc74c29a47ab222a77a12c97b4
 *    |                                                 ^
 *    '
 *   sass\block_related_styles\_contribute.scss 67:49  @import
 *   sass\style.scss 13:9                              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 67 \2502  >>>>>>> b6c75524a39cddbc74c29a47ab222a77a12c97b4\d\a    \2502                                                  ^\a    \2575 \a   sass\\block_related_styles\\_contribute.scss 67:49  @import\a   sass\\style.scss 13:9                              root stylesheet';
}
