/* Error: expected more input.
 *   ,
 * 9 | }/*
 *   |    ^
 *   '
 *   sass\block_related_styles\_logomark.scss 9:4  @import
 *   sass\style.scss 9:9                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected more input.\a   \2577 \a 9 \2502  }/*\d\a   \2502     ^\a   \2575 \a   sass\\block_related_styles\\_logomark.scss 9:4  @import\a   sass\\style.scss 9:9                           root stylesheet";
}
