header {
  --hero-padding: 10vh 2rem;
  --hero-height: 70vh;

  position: relative;
  min-height: var(--hero-height, 60vh);
  padding: var(--hero-padding);
  background-color: $color-background;
  color: $color-primary;
  overflow: hidden;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/cairn3.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.7;
    filter: brightness(.5) saturate(1.5) hue-rotate(deg);
  }

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: var(--hero-height, 60vh);
    padding: 2rem; // Space for fuzzy border

  }

  h1 {
    font-size: 6rem;
    color: $color-primary;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  h2 {
    font-size: 2rem;
    color: $color-primary;
    max-width: 30ch;
    margin-top: 1.5rem;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
  }

  p {
    color: $color-primary;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
  }

.link-github {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  background-color: $color-contrast;
  color: $color-secondary;
  text-decoration: none;
  border: 3px solid $color-primary-alt;
  border-radius: 10px;
  background: linear-gradient(90deg, $color-contrast, lighten($color-contrast, 20%));
  transition: all 0.4s ease;
  position: absolute;
  bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-weight: $font-weight-strong;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.25em;
    fill: $color-primary-alt;
    transition: fill 0.4s ease;
  }

  &:hover {
    background: linear-gradient(90deg, $color-primary-alt, lighten($color-primary-alt, 10%));
    border-color: $color-primary;
    color: $color-contrast;
    svg {
      fill: $color-secondary;
    }
  }
}

  @media (max-width: 768px) {
    --hero-height: 50vh;
    --hero-padding: 5vh 1rem;

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.4rem;
    }
  }
}