header {
  background-color: $color-background;
  padding: 20px 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr; 
    grid-template-rows: auto auto; 
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;

    &::before {
      content: '';
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      background-image: url('./images/cairn3.jpg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 200px;
      width: 266px;
      margin: 10px;
      align-self: center;
      border-radius: 15px;
      animation: fadeIn 1.5s ease-in-out forwards;
      box-shadow: 0 0 20px rgba($color-primary, 0.8);
    }

    h1 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      color: $color-contrast;
      align-self: center;
      margin: 0;
      font-size: map-get($font-sizes, h1);
    }

    h2 {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      color: $color-contrast;
      font-size: 1.25rem;
      align-self: center;
      margin-top: 115px;
    }

    p {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      color: $color-contrast;
      font-size: 1rem;
      align-self: center;
      text-align: center;

      a {
        color: $color-contrast;
        transition: color 0.3s ease;
        text-decoration: none;

        &:hover {
          color: $color-primary-alt;
        }
      }
    }

    .link-github {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      color: $color-primary;
      background-color: $color-background;
      text-decoration: none;
      display: flex;
      margin-right: 10px;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;

      svg {
        fill: $color-primary-alt;
        width: 20px;
        height: 20px;
      }

      &:hover {
        color: $color-secondary;
        svg {
          fill: $color-secondary;
        }
      }
    }
  }
}

// Keyframes for fade-in animation
@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.95); }
  100% { opacity: 1; transform: scale(1); }
}